.sacola {
	display: inline-block;
	width:55px;
	text-align: center;
	position: relative;
}

.sacola-contador {
	font-family: "museo", serif;
	font-weight: 700;
	text-decoration: none;
	fill: #ed9764;
	font-size: .8em;
}

.sacola-icone {
	position:relative;
	top: 10px;
}